* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;

}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(240, 240, 240);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.instagramWrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
    /* border: 1px solid red; */
}
.cellPhone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    /* border: 1px solid palevioletred; */
}
.cellPhone img {
    height: 50rem;
}
.continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 36rem;
    /* border: 1px solid green; */

}
.group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 1.3rem 0;  /* 1.3 se refere a parte de cima e de baixo, e o zero dos lados */
    width: 100%;
    border: 1px solid rgb(216, 216, 216);
}
.group:nth-child(1) { 
    min-height: 21rem; 
}
.instagramLogo {
    height: 6rem;
}
.profilePhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}
.instagramLogin {
    background-color: rgb(55, 142, 214);
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin-top: 1rem;
}
.instagramLogout {
    color: rgb(55, 142, 214);
    margin-top: 1rem;
}
.notAccount {
    color: rgb(150, 148, 148)
}
.linkBlue {
    color: rgb(55, 142, 214);
}
.getTheApp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* border: 1px solid black; */
}
.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

/* appDownload representa as duas ancoras, sendo que defini o valor da propriedade que dita o tamanho das imagens 
de fundo deles nessa parte, depois separadamente, vou ditar a imagem de fundo de cada um, usando esquema
para acessar apenas o elemento escolhido, dos elementos daquela classe */
.appDownload {
    height: 3rem;
    width: 10rem;
    background-size: cover;
    /* border: 1px solid red; */
}
.appDownload:nth-child(1) {
    background-image: url('appStore.png');
}
.appDownload:nth-child(2) {
    background-image: url('googlePlay.png');
}
/* media query tablet */
@media (max-width: 1024px) {
    .instagramWrapper {
        width: 90%;
    }
}
/* media query celular */
@media (max-width: 650px) {
    .instagramWrapper {
        width: 90%;
    }
    .cellPhone {
        display: none;
    }
    .continue {
        width: 100%;
    }
    body {
        background-color: white;
    }
    .group {
        border: 1px solid transparent;
    }
}